<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="file" xsi:type="File"
		        layout="${longdate} | ${logger} | ${level:uppercase=true} | ${event-properties:item=batchFileId} | ${message}${exception:format=ToString}"
		        fileName="C:/Temp/logs/AppLog.${shortdate}.txt"
		        maxArchiveFiles="4"
		        archiveAboveSize="10240" />
		
		<target xsi:type="Database" name="database">
			<dbProvider>System.Data.SQLite.SQLiteConnection, System.Data.SQLite</dbProvider>
			<connectionString>Data Source=batchfileexecutor.db;Version=3;</connectionString>
			<commandType>Text</commandType>
			<commandText>
				INSERT INTO Log
				(LogDate, Level, BatchFileId, Message)
				VALUES
				(@logdate, @level, @batchfileid, @message)
			</commandText>

			<parameter name="@logdate" layout="${longdate:universalTime=true}" />
			<parameter name="@level" layout="${level:uppercase=true}" />
			<parameter name="@batchfileid" layout="${event-properties:item=BatchFileId}" />
			<parameter name="@message" layout="${message}" />

		</target>

	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="database" />
		<logger name="*" minlevel="Trace" writeTo="file" />
	</rules>
</nlog>